<div class="container">
  <h2>Liste des cocktails</h2>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card">
      <div class="card-image">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 50, width: 50, crop: :thumb %>
        <% end %>
        </div>
        <div class="card-name">
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </div>
    </div>
    <% end %>
  </div>
</div>
