

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   background-color: white;
//   padding: 16px, 16px;
//   justify-items: left;
//   align-items: center;
//   p {
//     font-size: 16px;
//     color: grey;
//     font-weight: bold;
//   }
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards img {
  height: 50px;
  width: 50px;
  margin: 16px 16px;
}

// .cards p {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.card {
  height: 100px;
  width: 250px;
  display: flex;
  position: relative;
  padding: 24px 24px;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-image {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-category {
  display: flex;
  padding: 16px 16px;
  p {
    font-size: 16px;
    font-weight: bold;
  }
}

.card-description {
  position: absolute;
  margin-top: 20px;
  padding: 24px 24px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


